body {
    font-family: "Times New Roman", serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 40px;
}

.pagina {
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
}

.encabezado {
    background-color: #3c7ea6;
    color: white;
    padding: 20px;
}

.foto {
    background-color: #ccc;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-top: 10px;
}

.cuerpo {
    margin-top: 20px;
}

.col-izq {
    width: 60%;
    float: left;
}

.col-der {
    width: 35%;
    float: right;
}

h3 {
    color: #2d6c91;
}

ul {
    margin-left: 20px;
}